{% load render_bundle from webpack_loader %} {% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />

    <link
      rel="icon"
      type="image/png"
      href="https://classline-academy-media.s3.eu-west-3.amazonaws.com/img/classlinelogosquare.png"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
      integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU="
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      charset="UTF-8"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css"
    />

    <title>Classline Academy</title>
  </head>
  <body class="p-0">
    <div id="react"></div>
    <script>
      window.props = {{ props|safe }}
      window.react_mount = document.getElementById('react');
    </script>
    {% render_bundle 'main' %}
  </body>
</html>
